*{
    background-color: #757575;
    margin: 0;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #212121;
    padding-top: 1%;
    padding-bottom: 0.5%;
    border-bottom: solid 1px white;
}

#finalsLogo {
    width: 14rem;
    height: 4rem;
    margin-left: 2%;
    background-color: #1d1d1d;
}

#nbaLogo {
    width: 8rem;
    height: 4rem;
    margin-left: 73%;
    background-color: #1d1d1d;
    text-align: end;
}

#content {
    display: flex;
}

h1 {
    margin: 5%;
    font-size: xx-large;
    color: black;
}

h2 {
    color: rgb(0, 0, 0);
    margin-left: 12%;
    margin-top: 5%;
    margin-bottom: 2%;
}

#text, #countdown {
    width: 50%;
    text-align: center;
}

.time {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
}

#video {
    margin-top: 4%;
    box-shadow: 10px 10px 10px #1d1d1d;
    border-radius: 5px;
}

.gridContainer {
    width: 50%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2%;
    padding: 1%;
}


.imgGame {
    width: 100%;
    height: 100%;
}

.imgGame:hover {
    transform: translateY(-3px);
    box-shadow: 2px 2px 2px #45ff01;
    cursor: pointer;
}

.selectedCard {
    box-shadow: 4px 4px 4px #45ff01;
}

#form {
    text-align: center;
    width: 50%;
    margin-bottom: 3%;
    margin-top: 3%;
}

input {
    background-color: whitesmoke;
    border-radius: 5px;
    width: 26%;
    padding: 1%;
    color: black;
}

#name {
    margin-left: 1%;
}

#email {
    margin-left: 2%;
}

button {
    margin-left: 10%;
    background-color: whitesmoke;
    padding: 1% 3% 1% 3% ;
    color: black;
    font-weight: 600;
    border-radius: 5px;
}

button:hover {
    box-shadow: 2px 2px 2px #45ff01;
}

.destacarCard {
    box-shadow: 4px 4px 4px #45ff01;
}

#shop{
    background-color: #212121;
}

#h1Shop{
    text-align: center;
    padding-top: 5%;
    color: whitesmoke;
    background-color: #212121;
}

.shopCarrossel{
    background-color: #212121;
    padding: 1%;
    margin-left: 6%;
    display: grid;
    grid-auto-flow: column;
}

.divRoupas{
    background-color: #212121;
}

.imgRoupas{
    background-color: #212121;
    width: 16em;
    height: 16em;
    cursor: pointer;
}

.imgRoupas:hover{
    box-shadow: 10px 10px 10px #bebebe;
}

.destacarRoupas{
    box-shadow: 10px 10px 10px #757575;
}
